
.deleted {
	text-decoration: line-through;
	color: red;
	font-weight: bold;
}

.container {
	width: 100%;
	clear: both;
}

.submitBtn {
	float: right;
}

.table-responsive>table {
	table-layout: fixed;
	word-break: break-all;
}

.myContainer {
	background-color: white;
	clear: both;
	min-height: 3em;
	border-radius: 1em;
	padding: 1em 4em;
	margin: 0 1em 1em 1em;
	width: 95%;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}
.checkboxArea {
	background-color: white;
	clear: both;
	min-height: 3em;
	border-radius: 1em;
	padding: 1em 4em;
	margin: 0 1em 1em 1em;
	width: 95%;
}


.itemBox {
    background-color: #FAFAD2;
    border-radius: 0;
    border: 1px solid #FFE65A;
    padding: 0.2em 0.5em;
    font-size: 1em;
    color: #3c3c3c;
}

div[id$="_container"] {
	padding-bottom: 0.2em;
}

.btn.deleteBox {
	display: inline-block;
    min-width: 10px;
    padding: 0.2em 0.4em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 0.8em;
    background-color: #FFA01E;
    border-radius: 50%;
    margin-left: 0.5em; 
}

@keyframes spin { 0% {transform: rotate(0deg);} 100%{transform:rotate(360deg);} }

#myProgress {
	width: 80%;
	background-color: grey;
}

#myBar {
	width: 1%;
	height: 30px;
}

.progress {
	margin: 2em 1em;
}