.btndiv {
	margin-top: 1em;
}
#radioBtn a{
	font-size: 15px; 
	font-weight: bold; 
}

.targetContainer{
	display:none; 
}
.option_container{
	padding: 1em;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

div.fileWillCreate, div.fileBeStandard{
    margin-bottom: 2px;
    min-height: 100px;
    padding: 10px; 
    padding-bottom: 10px; 
}

div.fileWillCreate  > .itemBox{
    margin-bottom: 0.3em;
}
.btn-createMsgfile{
	margin-top: 10px; 
}