@CHARSET "EUC-KR";

.u_formContainer .col-sm-11, .u_formContainer .col-sm-10, .u_formContainer .col-sm-9, .u_formContainer .col-sm-3, .u_formContainer .col-sm-2, .u_formContainer .col-sm-1{
	padding: 0; 
}
.u_formContainer{
    display: inline-block;
    width:100%;
}
.clearBtn{
}
.submitBtn {
	float: right;
}

.table-responsive>table {
	table-layout: fixed;
	word-break: break-all;
}


.itemBox {
    background-color: #FAFAD2;
    border-radius: 0;
    border: 1px solid #FFE65A;
    padding: 0.2em;
    font-size: 1em;
    color: #3c3c3c;
}

div[id$="_container"] {
	padding-bottom: 0.2em;
}

.btn.deleteBox {
	display: inline-block;
    min-width: 10px;
    padding: 0.2em 0.4em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 0.8em;
    background-color: #FFA01E;
    border-radius: 50%;
}

.checkboxContainer {
	margin-top: 2em; 
}
